@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Jost";
    src: url("/fonts/Jost.ttf");
  }

  html {
    overflow-y: scroll;
  }

body {
  background: hsl(230deg 60% 98%);
  font-family: Jost, sans-serif;
}